
.important{color:#FF0000;  font-weight:bold}
.tb{ background:#C7EACA }
.tb tr.top{background:#A3D8A2 url(../images/m_tbg.jpg) ;  height:28px; line-height:28px; font-weight:bold; color:#004C00}
.tb tr.top2{ background:#C5D5E7}
.tb td.top span.l{ float:left;}
.tb td.top span.r{ float:right; position:relative}
.tb td.top span.l a{  font-weight:normal; color:#999999; text-decoration:underline}
.tb tr.nav,.tb tr.nav td{ background:#D5EFD5; color:#005B00;  font-weight:bold;border-bottom:1px #B4E100 solid; border-top:1px #EFF9EF solid}
.tb tr.nav td { padding:3px;}

.red{ color:red}
.tb td{  padding-left:5px;word-break:break-all;word-wrap:break-word;}
.tb input.nob{ border:none}
.tb textarea:hover{ border:1px #31A7DF solid}
.bt{  border: none;  background: #4CB74C;  height: 25px;  padding: 2px 15px 2px 15px;  color: #FFFFFF;  font-weight: bold;  cursor: pointer;  border-radius: 3px; }
.bt:hover{background: #B4E100}
.tb input.cancel{  border: none;  background: #cecece;  height: 25px; padding: 2px 15px 2px 15px; font-weight:bold;color:white;cursor: pointer;border-radius: 3px; }
.tb input.cancel:hover{background:#B4E100};
.tb textarea{border:1px #c0c0c0 solid; border-bottom:1px #ededed solid; border-right:1px #ededed solid;}
.tb tr{ color:#000}
.tr,.trh{background:#ffffff;}
.tr input.hide,.trh input.hide{ background:#fff; border:1px #fff solid}
tr.trh:hover input.hide,tr.trh2:hover input.hide{ background:#FFFFC8; border:1px #ffffc8 solid}
.tr2,.trh2{background:#F6FBF6; padding: 3px;height: 28px;}
.tr2 input.hide,.trh2 input.hide{ background:#f6fbf6; border:1px #f6fbf6 solid}
.trhh p{ padding:0px; border:3px #4CB74C solid; position:absolute; margin-left:50px; margin-top:15px; background:#f9f9f9;width:300px; height:80px; overflow:auto}
.tb tr.ctrl{ background:#DBEFDB}
.trh p,.trh2 p{ display:none}
.tb tr:hover{ background:#FFFFC8}
.h30{ height:30px; }
.h40{ height:40px; line-height:40px;}

.admin-con-right table tr{height:30px;}

/*nav*/
.navi{height:30px;border-bottom:2px #48B148 solid; overflow:hidden}
.navi div.l{ float:left}
.navi div.r{ float:right; line-height:30px; text-align:right;}
.navi a{float:left;height:20px; margin-top:8px;background:#F0F0F0; border:1px #d5d5d5 solid;border-bottom:none; margin-right:5px;line-height:20px; padding:0px 5px 0px 5px; color: #666;}
.navi a.h{background:#48B148;height:28px; border:none; line-height:28px; color:#fff; margin-top:0px; font-size: 14px;padding-right: 15px;  font-weight:bold;}


.navi a:hover{ color:#ff0000; text-decoration:none;background:#48B148; color:#fff}
.nav .active{color:#f00;}

.b14{  font-weight:bold}

.jia, .jian{margin-top: 10px;}

input, select,textarea{
    font-family: 'Microsoft Yahei', Arial, Helvetica, Simsun, sans-serif;
    
}
.admin-info-top{ width:1200px !important;margin:0 auto;}
.logo{float:left;margin:5px 8px;width:48px;height:48px;}
.company-name{float:left;line-height:65px; font-size:24px;margin-left:25px;}
.company-list{float:right;color:#2a95de;}
.company-list li{float:left;line-height:74px;margin:0 10px;cursor:pointer;}
.message-center{color:#f82626;margin-left:3px;}
.septal-line{color:#B4E100;}
.admin-info-nav{height:42px;background:#cacaca;min-width:1200px;border-bottom: 2px solid #B4E100;}
.info-nav{width:1185px !important;margin:0 auto;}
.info-nav-list{float:left;}
.info-nav-list li{float:left;line-height:42px;color:#fff;}
.info-nav-list li.cur a{background:#B4E100;padding:0 18px;}
.info-nav-list li a{color:#fff;display:block;padding:0 18px;font-size: 14px;}
.info-nav-list li a:hover{ background:#B4E100;}
.login-info{float:right;width:auto;min-width:235px;color:#fff;}
.login-info li{float:left;line-height:42px;}
.login-info li a.col{color:#fff;}
.accounts{padding:0 10px;}
.accounts a{color:#ffd750;}
.accounts:hover{color:#fff;background:#0260dd;}
.welcome{margin-left:15px;}
.login-info li:hover ol{ display:block; }
.drop-down-list{ display: none; }
.files{ padding:0 0 0 30px;color:#2a95de;} 
.files span{color:#e32525;padding-left:5px;font-weight:bold;}
.files a{color:#2a95de;}
.admin-con{margin:0 auto;height:100%;}


.admin-list{height:43px;margin:0 auto;padding-left:10px;}
.admin-list li{float:left;line-height:43px;margin:0 4px; }
.admin-list li a{color:#999;}
.admin-list ol a.activee{color:#B4E100;}
.admin-left{float:left;width:200px;height:100%}
.admin-con-left{float:left;width:200px;margin-left:5px;background:#f0f1f2;height:100%;}
.secondary-list.on{display:block;}
.admin-left ul li{cursor:pointer;}
.admin-con-left .list-type{line-height:40px;background:#f0f1f2;padding-left:15px; position:relative;font-size:13px;font-weight: bold;}
.admin-con-left .list-type-b{border-bottom:1px dashed #d7d7d7;display:block;width:93%; height:40px; font-weight:600; margin-left:-8px; padding-left:8px;color: #666;}
.admin-con-left .list-type-b span {float: right;margin-top: 12px;font-size:16px;}

.left-main{border-bottom:1px solid #ccc;border-top:2px solid #B4E100;line-height:40px;font-size:14px;padding-left:15px; background:#D5EFD5; }
.secondary-list{line-height:40px;margin-left:-15px;display:none;background: #f1f5f8;}
.secondary-list li{padding-left:15px; font-weight:normal;}
.secondary-list li.on-hover{background:#fff;border-left:3px solid #2a95de;}
.secondary-list a{color:#737373;display:block;text-indent: 15px;}
.secondary-list>li:hover{ background:#fff;border-left:3px solid #2a95de;}
.secondary-list cur{ color:#fff}
.secondary-list a:hover{color:#3f83e5; display:block;}

.admin-con-right{margin-right: 5px;margin-left: 210px;}
.secondary-list>li:hover{ background:#fff;border-left:3px solid #2a95de;}
.secondary-list a:hover{color:#3f83e5;}
.hot-line{width:200px; background:#D5EFD5;clear:both;margin:0 10px;color:#fff;text-align:center;padding:15px 0; overflow:hidden;}

.ltit {width:120px;}

input[type="text"],input[type="password"]{
    width:300px;
}
textarea{
    width:500px;
    height: 100px;
}


.confirm {
background: #5694fb;
}
.abolish {
background:#bebebe;
margin-left:28px;
}


