/* css reset */

*{margin:0; padding:0; font-size:12px;}
form{ margin:0px; padding:0px;}
a{ text-decoration:none}
a:hover{ color:#FF0000; text-decoration:underline}
img{ border:none}
ol,ul,li {list-style: none;}
button {cursor: pointer}
a {color: #000}
.C{clear:both}
.L{float:right}
.F{float:left}
.pages{ line-height:25px;}
.pages li{ float:left; margin-left:2px;height:20px; line-height:20px; font-weight:normal; text-align:center}
.pages li.cur{ background:#FFFF00; border:1px #ff0000 solid}
.pages li a{ display:block; text-decoration:none;border:1px #ccc solid;padding-left:4px; padding-right:4px; background:#f9f9f9; }
.pages li.cur{padding-left:4px; padding-right:4px;}
.pages li a:hover{ border:1px #ff0000 solid; background:#FFFF00;padding-left:4px; padding-right:4px; text-decoration:none}
